
.header {
  background:  url(../img/svg_bg/header-bg-1.svg) no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: 200;
}
.upper {
  text-transform: uppercase;
}
.showOnTablet {
  display: none;
}
.showOnLarge {
  display: none;
}
.showOnNineH {
  display: none;
}
.partnersCoords {
  min-height: 420px;
  padding-bottom: 5em;
  position: relative;
  font-family: 'SF UI Display' sans-serif;
  background: #f3f3f3;
  padding-top: 200px;
  margin-top: -200px;
}
/* .partnersCoords .container {
  padding: 0;
} */
.partnersCoords .container .partnersCoords__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.partnersCoords .container .partnersCoords__navigation .search-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.partnersCoords .container .partnersCoords__navigation .search-container form {
  background-color: #fff;
  width: 180px;
  height: 35px;
  border-radius: 30px;
  position: relative;
  margin-right: 76px;
  border: 1px solid #FCA53F;
}

/* .partnersCoords .container .partnersCoords__navigation .search-container form:hover,.partnersCoords .container .partnersCoords__navigation .search-container form:ac{
  width: 180px;
} */
.partnersCoords .container .partnersCoords__navigation .search-container form input {
  margin: 5px;
  border: 0;
  width: 77%;
  text-align: center;
  line-height: 10px;
  outline: 0;
  border-radius: 25px;
}
.partnersCoords .container .partnersCoords__navigation .search-container form button {
  position: absolute;
  width: 21px;
  height: 21px;
  background: url("../img/magnifying-glass.svg") center center no-repeat;
  background-size: contain;
  border: 0;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.partnersCoords .container .partnersCoords__navigation .search-container form button svg{
  width: 18px;
  height: 18px;
  color: #FCA53F;
  position: relative;
  right: 10px;
  cursor: pointer;
}
.partnersCoords .container .partnersCoords__navigation .switch-container .showOnXs {
  display: none;
}
.partnersCoords .container .city-select {
  margin-right: 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.partnersCoords .container .category-select {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-right: 10px;
}
.partnersCoords .container .city-select label,
.partnersCoords .container .category-select label {
  
  font-size: 20px;
  line-height: 24px;
  margin-right: 25px;
  margin-bottom: 0;
  color: #222;
}
.partnersCoords .container .city-select label:after,
.partnersCoords .container .category-select label:after {
  content: '';
  position: absolute;
  background: url("../img/right-arrow.svg") no-repeat;
  display: block;
  background-size: contain;
  width: 12px;
  height: 12px;
  top: 8px;
  right: -18px;
}
.partnersCoords .container .city-select select,
.partnersCoords .container .category-select select {
  
  font-size: 17px;
  line-height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 120px;
  background: none;
  border: 0;
  text-align: center;
  color: #d54e29;
  outline: none;
}
.partnersCoords .container .city-select select option[disabled],
.partnersCoords .container .category-select select option[disabled] {
  display: none;
}
.partnersCoords .container .city-select select option,
.partnersCoords .container .category-select select option {
  width: 320px;
}
.partnersCoords .container .switch-container {
  width: 168px;
  height: 34px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  border: 1px solid #FCA53F;
}
.partnersCoords .container .switch-container span {
  display: block;
  line-height: 36px;
  font-size: 13px;
  
  width: 50%;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.partnersCoords .container .switch-container-btn {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 18px;
  background: #FCA53F;
 
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  top: 0;
}


.partnersCoords .partnersCoords__content-table {
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  max-height: 600px;
  
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 150px;
  border: 1px solid #c0b5b5;
  border-left: 0;
  border-right: 0;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-logo,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  height: 100px;
  border-right: 2px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo img,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-logo img,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-logo img {
  width: 132px;
  height: auto;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-logo span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-logo span {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #aaa;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo a,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-logo a,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-logo a {
  display: none;
  width: 120px;
  height: 30px;
  border: 1px solid #d54e29;
  border-radius: 15px;
  font-size: 15px;
  line-height: 28px;
  
  text-decoration: none;
  color: #d54e29;
  background: url("../img/right-arrow.svg") 98px center no-repeat;
  background-size: 12px;
  padding-left: 14px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback {
  width: 100%;
  max-width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot {
  width: 110px;
  height: 90px;
  border-radius: 10px;
  padding-top: 3px;
  border-top: 0;
  position: relative;
  background: url("../img/fire.png") no-repeat;
  background-position: 95% 5%;
  border: 2px solid #d54e29;
  margin-bottom: 5px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-text {
  display: block;
  color: #d54e29;
  
  text-align: center;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-persent {
  font-size: 45px;
  line-height: 45px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-text {
  font-size: 18px;
  line-height: 18px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-bottom,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-bottom,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-bottom {
  position: absolute;
  background-color: #d54e29;
  border-radius: 0 0 5px 5px;
  width: 101%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback-hot .cashback-bottom span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback-hot .cashback-bottom span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback-hot .cashback-bottom span {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback {
  width: 110px;
  height: 90px;
  border-radius: 0 0 10px 10px;
  padding-top: 3px;
  border: 4px solid #ff9a57;
  border-top: 0;
  position: relative;
  margin-bottom: 5px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback .cashback-text {
  display: block;
  color: #ff9a57;
  
  text-align: center;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback .cashback-persent {
  margin-top: 5px;
  font-size: 45px;
  line-height: 45px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-cashback .cashback .cashback-text,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-cashback .cashback .cashback-text {
  font-size: 18px;
  line-height: 18px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-adress,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-adress,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-adress {
  max-width: 230px;
  width: 100%;
  text-align: center;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-adress span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-adress span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-adress span {
  font-size: 15px;
  line-height: 30px;
  color: #5f5a5a;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-icons,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-icons {
  width: 100%;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  border-right: 2px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons img,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-icons img,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-icons img {
  height: 30px;
  width: auto;
  margin: 0 9px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-workHours,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-workHours,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-workHours {
  text-align: center;
  width: 100%;
  max-width: 138px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-workHours span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-workHours span,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-workHours span {
  font-size: 15px;
  line-height: 30px;
  color: #5f5a5a;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 7px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg {
  width: 9px;
  height: 9px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg:nth-child(1),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg:nth-child(1),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg:nth-child(1),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg:nth-child(2),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg:nth-child(2),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg:nth-child(2),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg:nth-child(3),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg:nth-child(3),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg:nth-child(3),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg:nth-child(4),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg:nth-child(4),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg:nth-child(4) {
  fill: #d75632;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more svg:nth-child(5),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more svg:nth-child(5),
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more svg:nth-child(5) {
  fill: #e0dddd;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more a,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more a,
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more a {
  display: block;
  width: 120px;
  height: 30px;
  border: 1px solid #d54e29;
  border-radius: 15px;
  font-size: 15px;
  line-height: 28px;
  
  text-decoration: none;
  color: #d54e29;
  background: url("../img/right-arrow.svg") 98px center no-repeat;
  background-size: 12px;
  padding-left: 14px;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child {
  border-top: 0;
}
.partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child {
  border-bottom: 0;
}
.partnersCoords .partnersCoords__content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* width: 100%; */
  min-height: 500px;
  flex-wrap: nowrap;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 630px;
  /* width: 350px; */
  /* width: 100%; */
  /* margin-right: 18px; */
}

.scrollbar-vert{
  width: 350px;
}
.simplebar-horizontal{
  width: 100%;
}

.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card {
  width: 310px;
  height: 190px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 31px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card:last-child {
  margin-bottom: 0;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right {
  width: 65%;
  padding: 12px;

}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-calc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-calc input {
  border: 0;
  width: 90px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-calc .count {
  width: 36px;
  height: 20px;
  border: 1px solid #c0b5b5;
  border-top: 0;
  border-bottom: 0;
  background: url("../img/calc-btn.png") center center no-repeat;
  background-size: contain;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-calc .result {
  font-size: 13px;
  line-height: 20px;
  color: #d54e29;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-text {
  display: block;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  margin: 15px 0;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-text-hot {
  position: relative;
  display: block;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  margin: 15px 0;
  z-index: 1;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-text-hot:after {
  content: '';
  display: block;
  position: absolute;
  background: #ffd585;
  width: 201px;
  height: 55px;
  top: -15px;
  left: -12px;
  z-index: -1;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-text-red {
  color: #d54e29;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-icons {
  width: 80%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c0b5b5;
  border-left: 0;
  border-right: 0;
  margin-bottom: 12px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-icons img {
  height: 20px;
  width: auto;
  margin-right: 8px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating,
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating {
  color: #000;
  font-size: 11px;
  line-height: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating .rating svg,
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating .rating svg {
  width: 8px;
  height: 8px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating svg:nth-child(1),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating svg:nth-child(2),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating svg:nth-child(3),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating svg:nth-child(4) {
  fill: #d75632;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-systemRating svg:nth-child(5) {
  fill: #e0dddd;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating svg:nth-child(1),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating svg:nth-child(2),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating svg:nth-child(3),
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating svg:nth-child(4) {
  fill: #d75632;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-right .card-customerRating svg:nth-child(5) {
  fill: #e0dddd;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left {
  height: 85%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #c0b5b5;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left a {
  display: block;
  width: 86px;
  height: 22px;
  border: 1px solid #d54e29;
  border-radius: 15px;
  font-size: 10px;
  line-height: 18px;

  text-decoration: none;
  color: #d54e29;
  background: url("../img/right-arrow.svg") 64px center no-repeat;
  background-size: 12px;
  padding-left: 8px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left img {
  width: 88px;
  height: 23px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .card-partner {
  color: #b7b7b7;
  
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot {
  width: 80px;
  height: 65px;
  border-radius: 10px;
  padding-top: 3px;
  border-top: 0;
  position: relative;
  background: url("../img/fire.png") no-repeat;
  background-position: 95% 5%;
  border: 3px solid #d54e29;
  margin: 10px 0 18px 0;
  background-size: 15px 15px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-persent,
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-text {
  display: block;
  color: #d54e29;
  
  text-align: center;
  width: 85%;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-persent {
  font-size: 30px;
  line-height: 30px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-text {
  font-size: 12px;
  line-height: 6px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-bottom {
  position: absolute;
  background-color: #d54e29;
  border-radius: 0 0 5px 5px;
  width: 101%;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -1px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback-hot .cashback-bottom span {
  color: #fff;
  font-size: 7px;
  line-height: 6px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback {
  margin: 10px 0 18px 0;
  width: 70px;
  height: 53px;
  border-radius: 0 0 10px 10px;
  padding-top: 3px;
  border: 3px solid #d54e29;
  border-top: 0;
  position: relative;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback .cashback-persent,
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback .cashback-text {
  display: block;
  color: #d54e29;

  text-align: center;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback .cashback-persent {
  font-size: 28px;
  line-height: 30px;
}
.partnersCoords .partnersCoords__content-cards .partnersCoords__slidePart .card-left .cashback .cashback-text {
  font-size: 12px;
  line-height: 12px;
}
.partnersCoords .partnersCoords__content-cards .showOnLg {
  display: none;
}
.partnersCoords .partnersCoords__map {
  /* max-width: 900px;
  width: 100%; */
  height: 630px;
  padding: 3px;
  background-color: #fff;
  border-radius: 10px;
  
  
}
.partnersCoords .partnersCoords__map iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.scrollbar-path-vertical,
.scrollbar-path-horizontal {
  position: absolute;
  background-color: #fff;
  z-index: 100;
}
.scrollbar-path-horizontal {
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 10px;
}
.scrollbar-path-vertical {
  right: 5px;
  top: 0;
  height: 100%;
  width: 14px;
}
.scrollbar-path-vertical {
  box-shadow: inset 1px 0px 1 rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 0px 1 rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 0px 0 rgba(0,0,0,0.1);
}
.scrollbar-path-horizontal {
  box-shadow: inset 0px 1px 1 rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1 rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0,0,0,0.1);
}
.scrollbar-handle {
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffc049;
}
.scrollbar-path-vertical .scrollbar-handle {
  height: 20%;
  width: 100%;
}
.scrollbar-path-horizontal .scrollbar-handle {
  width: 20%;
  height: 100%;
}
.scrollbar-path-vertical,
.scrollbar-path-horizontal,
.scrollbar-handle {
  border-radius: 30px;
}
.scrollbar-content {
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.toggleBlack {
  color: #000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.toggleWhite {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.toRight {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.addToListTop {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}









.hide {
  display: none !important;
}
.table-more-icons {
  display: none;
}
.rating-logo {
  display: none;
}
.showOnXs {
  display: none;
}
.showOnXs:nth-child(1) {
  background: url("../img/placeholder.svg") center center no-repeat;
  background-size: contain;
}
.showOnXs:nth-child(2) {
  background: url("../img/clipboards.svg") center center no-repeat;
  background-size: contain;
}
.tooltip-inner {
  background-color: #f8d693 !important;
  font-size: 10px;

  color: #000 !important;
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #f8d693 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #f8d693 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #f8d693 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #f8d693 !important;
}
.ui-state-disabled {
  display: none;
}
.city-select fieldset #city-button span.ui-icon,
.city-select fieldset #city-button .ui-icon-triangle-1-s {
  background-image: none !important;
}
.category-select fieldset #category-button span.ui-icon,
.category-select fieldset #category-button .ui-icon-triangle-1-s {
  background-image: none !important;
}
fieldset {
  border: 0;
  width: 190px;
  position: relative;
  outline: none;
}
.category-select fieldset {
  width: 250px;
}
#city-button {
  height: 30px;
  width: 190px;
  outline: none;
}
#city-button .ui-selectmenu-icon {
  display: none !important;
}
#city-button .ui-selectmenu-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  padding-left: 60px;
}
#category-button {
  height: 30px;
  width: 225px;
  padding-right: 0;
  outline: none;
}
#category-button .ui-selectmenu-icon {
  display: none !important;
}
#category-button .ui-selectmenu-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  padding-left: 98px;
}
label {
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ui-menu .ui-menu-item-wrapper {
  padding: 13px 0 0 13px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.ui-menu .ui-menu-item {
  height: 30px;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  width: 85%;
  border-bottom: 1px solid #e6e6e6;
}
.ui-widget.ui-widget-content {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding-bottom: 8px;
  width: 190px !important;
}
.ui-selectmenu-button {
  background-color: transparent;
  border: 0;
}
.ui-button:hover,
.ui-button:focus {
  background-color: transparent;
  border: 0;
}
.ui-selectmenu-text {
  text-align: right;
  margin-right: 0;
  font-size: 17px;
  line-height: 18px;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
  padding: 0.5em 0 0.5em 3em;
  width: 190px;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.ui-selectmenu-text {
  color: #FCA53F;

}
.avatar .ui-icon {
  background-position: center center;
  background-size: contain;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 9px;
  left: 136px;
}
option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-button.ui-state-active:hover {
  border: 0;
  background: none;
  padding-left: 30px !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0;
}
iframe {
  border: 0;
}
[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch !important;
}
.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto; /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
}
.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}
.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  right: 0px;
  width: 14px;
  min-height: 10px;
  background: #FCA53F;
  border-radius: 8px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #000;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
/* When hovered, remove all transitions from drag handle */
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 13px;
  border-radius: 8px;
  background: #fff;
  right: 15px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 13px;
  border-radius: 8px;
  background: #fff;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  height: 13px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.scrollbar-hor .simplebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.scrollbar-hor .simplebar-content .card {
  min-width: 310px;
  margin-right: 15px;
}



.city-select label::before, .category-select label::before {
  content: '';
  position: absolute;
  top: 25%;
  right: -14px;
  width: 15px;
  height: 15px;
  background: url(../img/svg/sort-down.svg) no-repeat center;
  background-size: contain;
  color: #FCA53F;
  transform: rotate(-90deg);
}

.switch-container span, .card{
  cursor: pointer;
}

.partnersCoords__content-table .simplebar-track.simplebar-vertical{
  right: -22px;
}




































@media (min-width: 1365px){
  .partnersCoords .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more,
  .partnersCoords .partnersCoords__content-table .partnersCoords__table-row:first-child .partnersCoords__table-more,
  .partnersCoords .partnersCoords__content-table .partnersCoords__table-row:last-child .partnersCoords__table-more {
    padding: 50px;
  }

}

@media all and (max-width: 1300px) {
  .header .hint-pa {
    width: 65%;
  }
}
@media all and (max-width: 1199px) {
  
  .getCashback {
    background: #fff;
  }
  .showOnLarge {
    display: block;
  }
  
  .partnersCoords {
    min-height: 640px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo {
    max-width: 160px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback {
    max-width: 150px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-adress {
    max-width: 200px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 125px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons img {
    margin: 8px;
  }
  .partnersCoords .container .partnersCoords__content-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .partnersCoords .container .partnersCoords__content-cards .partnersCoords__slidePart {
    max-width: 100%;
    height: 225px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .partnersCoords .container .partnersCoords__content-cards .partnersCoords__map {
    max-width: 100%;
    margin-bottom: 18px;
  }
  .partnersCoords .container .partnersCoords__content-cards .showOnLg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partnersCoords .container .partnersCoords__content-cards .hideOnLg {
    display: none;
  }
  .partnersCoords .container .partnersCoords__content-cards .scrollbar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .partnersCoords .container .partnersCoords__content-cards .scrollbar-content .card {
    min-width: 310px;
    height: 190px;
    margin-right: 18px;
  }
  .partnersCoords .container .partnersCoords__content-cards .scrollbar-content .card:last-child {
    margin-right: 0;
  }
  .partnersCoords .container .partnersCoords__content-cards .scrollbar-path-horizontal {
    display: block !important;
    width: 100% !important;
    margin-top: 18px;
  }
}
@media all and (max-width: 1100px) {
  .header .hint-pa {
    width: 70%;
  }
}
@media all and (max-width: 1024px) {

  .partnersCoords__content-table .simplebar-offset{
    width: 105% !important;
  }

  
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 30%;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg {
    width: 15px;
    height: 15px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg:nth-child(1),
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg:nth-child(2),
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg:nth-child(3),
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg:nth-child(4) {
    fill: #d75632;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg:nth-child(5) {
    fill: #e0dddd;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 30%;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-adress {
    display: none;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 40%;
    border: 0;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons .table-more-icons {
    display: block;
    width: 120px;
    height: 30px;
    border: 1px solid #d54e29;
    border-radius: 15px;
    font-size: 15px;
    line-height: 28px;
  
    text-decoration: none;
    color: #d54e29;
    background: url("../img/right-arrow.svg") 98px center no-repeat;
    background-size: 12px;
    padding-left: 14px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-workHours {
    display: none;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-more {
    display: none;
  }
  .hideMe {
    display: none;
  }
  .showOnNineH {
    display: block;
  }
  .hideOnNineH {
    display: none;
  }
  .header .header__man {
    display: none;
  }
  .header .header__content {
    margin-top: 5em;
  }
  .header .header__joinBlock {
    bottom: -3em;
  }
}
@media all and (max-width: 991px) {
  .partnersCoords .container {
    position: relative;
    top: -4em;
  }
  .partnersCoords .container .partnersCoords__navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form {
    max-width: 388px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 16px;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form input {
    height: 85%;
    border-radius: 30px;
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
    width: 85%;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form button {
    width: 24px;
    height: 24px;
    right: 15px;
  }
  
  .partnersCoords .container .partnersCoords__navigation .city-select {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
  }
  .partnersCoords .container .partnersCoords__navigation .city-select label {
    font-size: 25px;
    line-height: 30px;
    /* color: #ffc049; */
  }
  .partnersCoords .container .partnersCoords__navigation .city-select select {
    font-size: 20px;
  }
  .partnersCoords .container .partnersCoords__navigation .category-select {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .partnersCoords .container .partnersCoords__navigation .category-select label {
    font-size: 25px;
    /* color: #ffc049; */
  }
  .partnersCoords .container .partnersCoords__navigation .category-select select {
    font-size: 20px;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container {
    margin-top: 5px;
    margin-right: 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
    width: 266px;
    height: 50px;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container .switch-mode {
    font-size: 17px;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container .switch-container-btn {
    border-radius: 30px;
  }
  .tooltip-inner {
    font-size: 20px;
  }
  
  .partnersCoords {
    padding-bottom: 0;
    padding-top: 300px;
  }
  
  .ui-selectmenu-text {
    font-size: 20px;
    line-height: 24px;
  }
  #category-button,
  #city-button {
    width: 320px;
    height: 50px;
  }
  .category-select fieldset,
  .city-select fieldset {
    width: 320px;
  }
  .ui-widget.ui-widget-content {
    width: 320px !important;
  }
  #category-button .ui-selectmenu-text {
    padding-left: 129px;
  }
  #city-button .ui-selectmenu-text {
    padding-left: 85px;
  }
  .ui-menu .ui-menu-item {
    height: 50px;
    font-size: 20px;
    line-height: 24px;
  }
  .ui-menu .ui-menu-item-wrapper {
    padding: 18px 0 0 18px;
  }
  .avatar .ui-icon {
    width: 30px;
    height: 30px;
    left: 222px;
  }
  .partnersCoords .container .category-select label:after,
  .partnersCoords .container .city-select label:after {
    width: 18px;
    height: 18px;
    right: -25px;
  }
  .partnersCoords .container .category-select label:after {
    top: 4px;
  }
}
@media all and (max-width: 767px) {
  .partnersCoords .partnersCoords__content-table {
    display: block !important;
    width: 95%;
  }
  .partnersCoords .partnersCoords__content-table .partnersCoords__table-row:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .partnersCoords .container .partnersCoords__navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container {
    width: 85%;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form {
    max-width: 100%;
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form input {
    width: 90%;
    height: 80%;
    font-size: 18px;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container {
    display: none;
  }
  .partnersCoords .container .partnersCoords__navigation .city-select label,
  .partnersCoords .container .partnersCoords__navigation .category-select label {
    font-size: 22px;
  }
  .partnersCoords .container .partnersCoords__navigation .city-select select,
  .partnersCoords .container .partnersCoords__navigation .category-select select {
    font-size: 18px;
  }
  .partnersCoords .container .partnersCoords__content-cards {
    display: none;
  }
  
  
}
@media all and (max-width: 576px) {
  .partnersCoords .container .partnersCoords__navigation {
    position: relative;
    padding: 0 10px;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons img {
    width: 25px;
    height: auto;
    margin: 4px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo img {
    width: 110px;
    height: auto;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo .rating-logo svg {
    width: 11px;
    height: 11px;
  }
  
  
}
@media all and (max-width: 530px) {
  .category-select {
    margin-bottom: 50px;
  }
  .partnersCoords .container .partnersCoords__navigation {
    height: 185px;
    margin-bottom: 0;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-icons {
    display: none;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo,
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback {
    max-width: 50%;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback {
    border-right: 0;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback {
    border: 0;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-persent {
    font-size: 60px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-cashback .cashback .cashback-text {
    font-size: 22px;
    line-height: 25px;
  }
  .partnersCoords .container .partnersCoords__content-table .partnersCoords__table-row .partnersCoords__table-logo a {
    display: block;
    margin-top: 5px;
  }
}
@media all and (max-width: 476px) {
  .partnersCoords .container .partnersCoords__content-table {
    width: 90%;
    padding: 0 5px;
    margin-left: 10px;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container {
    width: 80%;
  }
  .partnersCoords .container .partnersCoords__navigation .search-container form {
    max-width: 100%;
  }
  .partnersCoords .container .partnersCoords__navigation .city-select,
  .partnersCoords .container .partnersCoords__navigation .category-select {
    width: 100%;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container .showOnXs {
    display: block;
  }
  .partnersCoords .container .partnersCoords__navigation .switch-container .hideOnXs {
    display: none;
  }
}
@media all and (max-width: 426px) {
  
  #category-button,
  #city-button {
    width: 100%;
    height: 50px;
  }
}
.category-select fieldset,
.city-select fieldset {
  width: 100%;
}
@media all and (max-width: 376px) {
  .ui-widget.ui-widget-content {
    width: 295px !important;
  }
}

@media (min-width: 1365px){
  .simplebar-track{
    /* right: -40px; */
  }
}