.stocks {
  margin-bottom: 50px;
}

.stocks .sorting {
  margin-bottom: 60px;
}

.stocks .sorting .my-input {
  display: inline-block;
  height: 48px;
  margin: 7px;
  margin-bottom: 30px;
}

.stocks .sorting .my-input fieldset {
  border: none;
  padding: 0px;
}

.stocks .sorting .my-input input {
  line-height: 1em;
}

.stocks .sorting .search {
  width: 100%;
  max-width: 309px;
  position: relative;
  overflow: hidden;
}

.stocks .sorting .search label {
  font-weight: 300;
  font-size: 14px;
  color: #6f6f6f;
}

.stocks .sorting .search__input {
  font-size: 14px;
  font-weight: 300;
  color: #222;
  padding: 14px;
  padding-right: 30px;
  border: none;
  width: 100%;
}

.stocks .sorting .search__btn {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/search2.svg) no-repeat;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.stocks .sorting .search__btn:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.stocks .sorting .city-select, .stocks .sorting .category-select {
  width: 182px;
  cursor: pointer;
  position: relative;
}

.stocks .sorting .city-select label, .stocks .sorting .category-select label {
  position: absolute;
  top: -20px;
  left: 50%;
  font-size: 14px;
  opacity: 0.5;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.stocks .sorting .city-select .ui-selectmenu-button, .stocks .sorting .category-select .ui-selectmenu-button {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  margin: 0px;
}

.stocks .sorting .city-select .ui-selectmenu-button:focus, .stocks .sorting .city-select .ui-selectmenu-button:hover, .stocks .sorting .category-select .ui-selectmenu-button:focus, .stocks .sorting .category-select .ui-selectmenu-button:hover {
  border: none;
  outline: none;
}

.stocks .sorting .city-select .ui-selectmenu-button::before, .stocks .sorting .category-select .ui-selectmenu-button::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  border: 8px solid transparent;
  border-top: 8px solid #C4C4C4;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: center 25%;
      -ms-transform-origin: center 25%;
          transform-origin: center 25%;
  cursor: pointer;
}

.stocks .sorting .city-select .ui-selectmenu-button.ui-selectmenu-button-open::before, .stocks .sorting .category-select .ui-selectmenu-button.ui-selectmenu-button-open::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: center 25%;
      -ms-transform-origin: center 25%;
          transform-origin: center 25%;
}

.stocks .sorting .city-select .ui-selectmenu-text, .stocks .sorting .category-select .ui-selectmenu-text {
  font-weight: 300;
  font-size: 14px;
  color: #6f6f6f;
  position: relative;
}

.stocks .sorting .city-select .ui-icon, .stocks .sorting .category-select .ui-icon {
  display: none;
}

.stocks .sorting .date {
  width: 100%;
  max-width: 309px;
  height: 48px;
  position: relative;
}

.stocks .sorting .date::before {
  content: '';
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/calendar.svg) no-repeat;
}

.stocks .sorting .date::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  background-color: #515151;
  top: 50%;
  right: 50%;
  display: inline-block;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.stocks .sorting .date .clear-date {
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  left: 50%;
  bottom: -10px;
  background: url(../img/cross.svg) no-repeat center;
  background-size: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border-radius: 50%;
  background-color: #FFB72C;
  cursor: pointer;
}

.stocks .sorting .date fieldset {
  text-align: center;
}

.stocks .sorting .date-from, .stocks .sorting .date-to {
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  width: 85px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.stocks .sorting .date-from::before, .stocks .sorting .date-to::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 45%;
  background: url(../img/cross.svg) no-repeat center;
}

.stocks .sorting .date-from {
  margin-right: 9px;
  position: relative;
}

.stocks .sorting .date-from::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  background-color: #515151;
  top: 50%;
  right: 0px;
  display: inline-block;
}

.stocks .sorting .date-to {
  margin-left: 9px;
}

.stocks .sorting .date-submit {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 20px;
  top: 50%;
  right: 20px;
  background: url(../img/arrow2.svg) no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.stocks .sorting .date-submit:hover {
  opacity: 1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.stocks .cards-row {
  height: 710px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stocks .cards-row .scrollbar-track.scrollbar-track-y {
  border-radius: 50px;
}

.stocks .cards-row .scrollbar-track.scrollbar-track-y .scrollbar-thumb {
  background: #FFB72C;
}

.stocks .cards-row .row {
  margin: 0px;
}

.stocks .cards-row .card {
  background: #FFF;
  border: 1px solid #FDBA3D;
  -webkit-box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.17);
  border-radius: 30px;
  cursor: pointer;
  max-width: 345px;
  min-height: 339px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  position: relative;
}

.stocks .cards-row .card:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.stocks .cards-row .card::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 48px;
  background: url(../img/flag.svg);
  top: -8px;
  right: 20px;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
}

.stocks .cards-row .card__tm-title {
  padding: 15px 0px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.stocks .cards-row .card__tm-title span {
  font-weight: 600;
}

.stocks .cards-row .card__tm-title p {
  display: inline-block;
  margin: 0px;
  padding-left: 17px;
}

.stocks .cards-row .card__tagline {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 50px 15px 50px;
  display: block;
  text-align: center;
}

.stocks .cards-row .card__date {
  padding: 10px 0px 5px 0px;
  border-bottom: 1px solid #ddd;
  margin: 0 25px;
}

.stocks .cards-row .card__to__title, .stocks .cards-row .card__from__title {
  font-size: 10px;
}

.stocks .cards-row .card__from {
  margin-bottom: 5px;
}

.stocks .cards-row .card__description p {
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
  margin: 0px 25px;
}

.stocks .cards-row .card__img {
  height: 177px;
  overflow: hidden;
  -o-object-fit: fill;
     object-fit: fill;
}

.stocks .cards-row .card__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 340px;
  height: 100%;
}

.ui-selectmenu-menu {
  min-width: 156px;
  background: #FEFEFE;
  -webkit-box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  overflow: hidden;
  display: none;
  max-width: 156px;
  min-width: 200px;
}

.ui-selectmenu-menu .ui-state-disabled {
  opacity: 0.5;
}

.ui-selectmenu-menu .ui-state-disabled div {
  font-size: 14px !important;
}

.ui-selectmenu-menu.ui-selectmenu-open {
  display: block;
  position: relative;
  z-index: 1000;
}

.ui-selectmenu-menu .ui-menu {
  max-width: 100%;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item {
  cursor: pointer;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item .ui-menu-item-wrapper {
  padding: 10px 0px 8px 0px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 19px;
  font-weight: 300;
  color: #222;
  margin: 0px 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  border: none;
  border-bottom: 1px solid #E2E2E2 !important;
}

.ui-datepicker {
  width: 218px;
  background: #FEFEFE;
  -webkit-box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  margin-right: -50px;
  display: none;
}

.ui-datepicker-header {
  position: relative;
  text-align: center;
  padding: .7em 0em;
}

.ui-datepicker-prev {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ui-datepicker-prev::before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #C4C4C4;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.ui-datepicker-next {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ui-datepicker-next::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #C4C4C4;
  cursor: pointer;
}

.ui-datepicker-calendar {
  margin: 0 auto;
}

.ui-datepicker-calendar .ui-datepicker-unselectable span {
  opacity: 0.5;
}

.ui-datepicker-calendar thead tr th span {
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}

.ui-datepicker-calendar tbody tr td .ui-state-hover {
  background-color: #FFB72C;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.ui-datepicker-calendar tbody tr td .ui-state-highlight {
  font-weight: 600;
}

.ui-datepicker-calendar tbody tr td a {
  width: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.2em 0em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 425px) {
  .stocks .sorting .date::before {
    left: 10px;
  }
  .stocks .sorting .date-submit {
    right: 10px;
  }
  .select-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
